<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/static/base.css" rel="stylesheet">

	<link href="/static/jquery_bs/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="/static/jquery_bs/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="/static/jquery_bs/jquery-3.6.0.min.js"></script>
	<script src="/static/templates.js"></script>

	<title>Message Centralizer</title>
</head>
<body>


<div class="container-fluid">
	<div class="row align-items-start main-container">
		<div class="col-auto no-padding">
			<div class="hide-scroll-bar left-bar">
				<div class="icon">
					<a href="/import-messages/">
						<img src="/static/icon.png" alt="" width="100%" height="100%">
					</a>
				</div>
				<div class="icon">
					<img src="/static/icon.png" alt="" width="100%" height="100%">
				</div>
				
				<div class="icon">
					<img src="/static/icon.png" alt="" width="100%" height="100%">
				</div>
			</div>
	
		</div>
			{% block container %}{% endblock %}
	</div>
</div>

</body>
</html>  